<hr>
<button type="button" class="btn btn-primary" [routerLink]="['/clientes/form']"> Create client</button>
<br>
<button type="button" (click)="setActivar()"
    class="btn btn-primary my-3">{{ (isActive==true)?'Hide list':'Show list'}}</button>
<br>
<div class="card border-primary mb-3 " *ngIf="isActive">
    <div class="card-header">Client List</div>
    <div class="card-body text-primary">
        <h5 class="card-title ">Information</h5>
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Email</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let clienteFor of listClientes">
                    <th>{{clienteFor.id}}</th>
                    <th>{{clienteFor.nombre}}</th>
                    <th>{{clienteFor.apellido}}</th>
                    <th>{{clienteFor.email}}</th>


                </tr>
            </tbody>
        </table>

    </div>
</div>