<hr>
<br>
<div class="card bg-dark text-white">

    <div class="card-header">{{tittle}}</div>
    <div class="card-body"></div>

    <form (ngSubmit)="addClient();" style="padding-left: 5%;">

        <div class="from-group row">
            <label for="forName" class="col-from-label col-sm-2"> Name</label>
            <div class="col-sm-6">
                <input type="text" class="from-control" [(ngModel)]="clienteBinding.nombre" name="forName">
            </div>
        </div>

        <div class="from-group row">
            <label for="forLastName" class="col-from-label col-sm-2"> Last name</label>
            <div class="col-sm-6">
                <input type="text" class="from-control" [(ngModel)]="clienteBinding.apellido" name="forLastName">
            </div>
        </div>

        <div class="from-group row">
            <label for="forEmail" class="col-from-label col-sm-2">Email</label>
            <div class="col-sm-6">
                <input type="text" class="from-control" [(ngModel)]="clienteBinding.email" name="forEmail">
            </div>
        </div>

        <div class="from-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button"> Add </button>
            </div>
        </div>
        <br>
    </form>
</div>
<hr>
<button type="button" class="btn btn-primary" [routerLink]="['/clientes']"> Return</button>
<br>