﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Santiago de Cali<br />
    <abbr title="Phone">Cell:</abbr>
    3046572485
</address>

<address>
    <strong>Gmail Contact:</strong>   <a href="mailto:pedroa.lassoc@gmail.com">pedroa.lassoc@gmail.com</a><br />
    <strong>Hotmail Contact:</strong> <a href="mailto:lassocortes.ingeniero@hotmail.com">lassocortes.ingeniero@hotmail.com</a>
</address>