﻿@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">
    <div class="form-inline">
        <div class="col-md-10">
            <h1>Employee Contract Information </h1>

            <div class="form-group">
                <label for="lblIdEmployee">Id Employee</label>
                <input type="text" class="form-control" name="your_id" placeholder="id employee" id="txtIdEmployee">
            </div>

            <div class="form-group">
                <button class="form-control btn-primary" id="btnRequest">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>

            <div class="response_msg"></div>
        </div>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-striped table-responsive table-hover" id="dtTableContract">
        <thead>
            <tr>
                <th style="width: 2%;text-align:center">
                    Id
                </th>
                <th style="width: 10%;text-align:center">
                    Name
                </th>
                <th style="width: 10%;text-align:center">
                    Contract Type Name
                </th>
                <th style="width: 10%;text-align:center">
                    Role Name
                </th>
                <th style="width: 10%;text-align:center">
                    Role Description
                </th>
                <th style="width: 5%;text-align:center">
                    Hourly Salary
                </th>
                <th style="width: 5%;text-align:center">
                    Monthly Salary
                </th>
                <th style="width: 5%;text-align:center">
                    Annual Salary
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<script src="http://code.jquery.com/jquery-1.7.min.js" type="text/javascript"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>



<script>

    var vdtTableContract = $('#dtTableContract').DataTable({
        "pageLength": 100,
        dom: 'Bfrtip'
    });

    $(document).ready(function () {

    });

    $('#btnRequest').click(function () {
        RequestInformation();
    });

    function RequestInformation() {
        var paramIdEmployee = $("#txtIdEmployee").val().trim();
        if (paramIdEmployee == "") {

            $.get('Home/RequestAllInformation', null, function (data) {
                if (data[0] == true) {
                    vdtTableContract = $("#dtTableContract").dataTable();
                    vdtTableContract.fnClearTable();

                    $(data[1]).each(function (i, item) {

                        var addData = [];
                        addData.push('<div  style="text-align:center">' + item.Id + '</div>');
                        addData.push('<div  style="text-align:center">' + item.Name + '</div>');
                        addData.push('<div  style="text-align:center">' + item.ContractTypeName + '</div>');
                        addData.push('<div  style="text-align:center">' + item.RoleName + '</div>');

                        addData.push('<div  style="text-align:center">' + item.RoleDescription + '</div>');
                        addData.push('<div  style="text-align:center">' + item.HourlySalary + '</div>');
                        addData.push('<div  style="text-align:center">' + item.MonthlySalary + '</div>');
                        addData.push('<div  style="text-align:center">' + item.AnnualSalary + '</div>');

                        vdtTableContract.fnAddData(addData);
                    });
                    $("#dtTableContract tr").css('cursor', 'pointer');
                }
                else {
                    alert("OUPS!" + data[1]);
                }
            });
        }
        else {
            var param = {
                idEmployee: paramIdEmployee,
            }
            $.get('Home/RequestInformation', param, function (data) {
                if (data[0] == true) {
                    vdtTableContract = $("#dtTableContract").dataTable();
                    vdtTableContract.fnClearTable();

                    $(data[1]).each(function (i, item) {
                        var addData = [];
                        addData.push('<div  style="text-align:center">' + item.Id + '</div>');
                        addData.push('<div  style="text-align:center">' + item.Name + '</div>');
                        addData.push('<div  style="text-align:center">' + item.ContractTypeName + '</div>');
                        addData.push('<div  style="text-align:center">' + item.RoleName + '</div>');

                        addData.push('<div  style="text-align:center">' + item.RoleDescription + '</div>');
                        addData.push('<div  style="text-align:center">' + item.HourlySalary + '</div>');
                        addData.push('<div  style="text-align:center">' + item.MonthlySalary + '</div>');
                        addData.push('<div  style="text-align:center">' + item.AnnualSalary + '</div>');

                        vdtTableContract.fnAddData(addData);
                    });
                    $("#dtTableContract tr").css('cursor', 'pointer');
                }
                else {
                    alert("OUPS!" + data[1]);
                }

            });
        }
    }


</script>


